.call_to_action-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 4rem 0;
}

.action_img-container {
  min-height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  width: 50%;
  height: auto;
}

.action_content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 50%;
}

.action_content-container .action_link {
  width: fit-content;
  color: var(--pure-0);
  font-size: var(--font-size-scale-up-01) !important;
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
}

.action_content-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.action_title {
  font-size: 2rem;
  color: var(--blue-warm-vivid-80);
  font-weight: var(--font-weight-bold);
  padding: 0;
  margin: 0;
}

.action_text {
  text-align: justify;
  color: var(--gray-60);
  font-size: var(--font-size-scale-up-02) !important;
  font-weight: var(--font-weight-regular);
  margin: 0;
}

@media (max-width: 768px) {
  .call_to_action-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0rem;
  }
  .action_img-container,
  .action_content-container,
  .action_content-container .action_link {
    width: 100%;
  }
}