.action_content-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.action_title {
  font-size: 2rem;
  color: var(--blue-warm-vivid-80);
  font-weight: var(--font-weight-bold);
  padding: 0;
  margin: 0;
}

.action_text {
  color: var(--gray-60);
  font-size: var(--font-size-scale-up-02);
  font-weight: var(--font-weight-regular);
  margin: 0;
}