.step_cards-container {
  display: flex;
  justify-content: center;
  background-color: var(--blue-3);
}

.step_cards-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  gap: 2rem;
}

.step_cards-info .step_cards-title {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding: 0;
  margin: 0;
}

.step_cards-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1140px;
}

.step_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 1rem;
}