<div class="call_to_action-container">
  <div class="action_img-container">
    <img class="action_img_content" id="banner-image" style="background-image: url('<%= @home.banner.url %>');"/>
  </div>
  <div class="action_content-container">
    <div class="action_content-text">
      <h2 class="action_title"><%= @home.emphasis_title %></h2>
      <p class="action_text"><%= @home.emphasis_subtitle %></p>
    </div>
    <%= link_to(@home.emphasis_button_text, @home.emphasis_link, class: "br-button primary action_link") %>
  </div>
</div>
