<% action_title = 'Título da Conferência em Destaque' %>
<% action_text = 'Morbi cursus bibendum sagittis. Mauris in arcu cursus, placerat purus nec, ultricies elit. Praesent laoreet vehicula urna, quis iaculis metus efficitur a. Maecenas eu dolor eu erat auctor auctor. In facilisis mattis lorem ullamcorper viverra.' %>
<% action_link = '/' %>
<% action_btn_text = 'CTA'%>
<% primary_btn = true %>
<% action_img = '' %>

<div class="call_to_action-container">
  <div class="action_img-container">
    <img alt="call-to-action img" href=<%= action_img %>>
  </div>
  <div class="action_content-container">
    <div class="action_content-text">
      <h2 class="action_title"><%= action_title %></h2>
      <p class="action_text"><%= action_text %></p>
    </div>
    <%= link_to(action_btn_text, action_link, class: "br-button #{primary_btn ? "primary" : "secondary black-and-white-btn"} action_link") %>
  </div>
</div>