<div class="<%= background %> %>">
  <div class="br-container-lg home-hero-br home__element-container <%= background %> %>">
    <h1 class="hero-title-br"><%= properties["title"] %></h1>
    <p class="hero-text-br"><%= properties["subtitle"] %></p>
  </div>
</div>
