<% hero_title = 'Título da Conferência'%>
<% hero_text = 'Vestibulum commodo, dui quis tempus varius, quam tortor feugiat arcu, sed rutrum urna enim ac lacus. Donec et felis eu mauris luctus sollicitudin. Curabitur eu consectetur justo.' %>

<div class="home-hero-br br-container-lg">
  <h1 class="hero-title-br"><%= hero_title %></h1>
  <p class="hero-text-br"><%= hero_text %></p>
</div>