<% if false %>
<section class="custom-home-sections-container">
  <div class="organization-container">
    <span class="conference-organizers__container">
    <a
      href="https://www.gov.br/secretariageral/pt-br/composicao/orgaos-especificos-singulares/snj"
    >
      <img
        class="conference-organizers__container__image"
        src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcXNxIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d02377bef87f70a72bbc6207e764bdaefc323bdd/snj.png"
        alt="logo-brasil-participativo"
      />
    </a>
    <a href="https://www.gov.br/participamaisbrasil/conjuve">
      <img
        class="conference-organizers__container__image"
        src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbzhxIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--de42a585cb77c64b47971f1cd875c85f598975b6/photo_2023-08-28_18-09-09.jpg"
        alt="logo-brasil-participativo"
      />
    </a>
    <a href="http://www.unirio.br/">
      <img
        class="conference-organizers__container__image"
        src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbzBxIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--423ffefb81838673774bc7345e9b529b2e2e51d5/novo%20logo%20unirio%20-horizontal.png"
        alt="logo-brasil-participativo"
      />
    </a>
    <a href="https://www.finatec.org.br">
      <img
        class="conference-organizers__container__image"
        src="https://brasilparticipativo.presidencia.gov.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcEFxIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e90d24498fc35672bac6346f51227d99ab6e8247/photo_2023-08-28_18-10-45.jpg"
        alt="logo-brasil-participativo"
      />
    </a>
  </span>
  </div>
</section>
<% end %>

<style>
.conference-organizers__container a img {
  width: 160px;
}
.conference-organizers__container {
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.centered-text {
  text-align: center;
}
</style>

<section class="br-container-lg centered-text">
  <h2>Organizadores</h2>
  <div class="organization-container">
    <div class="conference-organizers__container">
      <% organizers.each do |organizer| %>
        <a class="logo-items" href="<%= organizer.link %>" target="_blank">
          <%= image_tag(organizer.attached_uploader(:logo).path, alt: organizer.name) if organizer.logo.attached? %>
        </a>
      <% end %>
    </div>
  </div>
</section>

<section class="br-container-lg centered-text">
  <h2>Apoiadores</h2>
  <div class="organization-container">
    <div class="conference-organizers__container">
      <% supporters.each do |support| %>
        <a class="logo-items" href="<%= support.link %>" target="_blank">
          <%= image_tag(support.attached_uploader(:logo).path, alt: support.name) if support.logo.attached? %>
        </a>
      <% end %>
    </div>
  </div>
</section>