<section class="home-sections-container logos-section">
  <h2><%=title%></h2>
  <div class="home-sections-content">
    <div class="organizers__container">
      <% if list.size > 0 %>
        <% list.each do |organizer| %>
          <a class="logo-items" href="<%= organizer.link %>" target="_blank">
            <%= image_tag(organizer.attached_uploader(:logo).path, alt: organizer.name) if organizer.logo.attached? %>
          </a>
        <% end %>
      <% else %>
        <p>Não há <%=title%> registrados</p>
      <% end %>
    </div>
  </div>
</section>