<section class="home-sections-container logos-section">
  <% if organizers %>
    <h2>Organizadores</h2>
  <% else %>
    <h2>Apoiadores</h2>
  <% end %>
  <div class="home-sections-content">
    <div class="organizers__container">
      <% if organizers %>
        <% if @organizers.size > 0 %>
          <% @organizers.each do |organizer| %>
            <a class="logo-items" href="<%= organizer.link %>" target="_blank">
              <%= image_tag(organizer.attached_uploader(:logo).path, alt: organizer.name) if organizer.logo.attached? %>
            </a>
          <% end %>
        <% else %>
          <p>Não há organizadores registrados</p>
        <% end %>
      <% else %>
        <% if @supporters.size > 0 %>
          <% @supporters.each do |support| %>
            <a class="logo-items" href="<%= support.link %>" target="_blank">
              <%= image_tag(support.attached_uploader(:logo).path, alt: support.name) if support.logo.attached? %>
            </a>
          <% end %>
        <% else %>
          <p>Não há apoiadores registrados</p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>