<% participatory_cards = ['programation', 'records', 'create'] %>
<% card_icon = '' %>
<% card_text = '' %>
<div>
  <div class="blue-bp-divider"></div>
  <div class="participatory_cards-container">
    <div class="participatory_cards-info">
      <h2 class="participatory_cards-title"><%= @home.participation_title %></h2>
      <div class="cards_info-container">
        <% participatory_cards.each do |card| %>
          <div class="cards_info-content">
            <% if card == 'programation' %>
              <% card_icon = 'fa-calendar' %>
              <% card_text = 'Programação'%>
            <% elsif card == 'records'%>
              <% card_icon = 'fa-file'%>
              <% card_text = 'Registros'%>
            <% else %>
              <% card_icon = 'fa-calendar-plus' %>
              <% card_text = 'Crie um evento'%>
            <% end %>
            <div class="cards_icon-container">
              <i class="fa-solid <%= card_icon %>"></i>
            </div>
            <div class="cards_info-text">
              <h3><%= card_text %></h3>
              <p>Lorem Ipsum Dolor sit amet</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="blue-bp-divider"></div>
</div>