<div>
  <div class="blue-bp-divider"></div>
  <div class="participatory_cards-container">
    <div class="participatory_cards-info">
      <h2 class="participatory_cards-title">Participe</h2>
      <div class="cards_info-container">
        <% properties["items"].try(:each) do |card| %>
          <div class="cards_info-content">
            <div class="cards_icon-container">
              <i class="fa-solid <%= card["icon"] %>"></i>
            </div>
            <div class="cards_info-text">
              <h3><%= card["title"] %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="blue-bp-divider"></div>
</div>