<div class="menu-container-space">
  <% element_orders = @home.element_orders %>
  <% sorted_elements = @elements.all.sort_by { |element| element_orders.index(element.id.to_s) || Float::INFINITY } %>
  <%= safe_join(sorted_elements.map { |element| render partial: "#{element.element_type}", locals: { properties: element.properties.try(:with_indifferent_access) || {}, background: get_background_class(element.background) } }) %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let iframes = document.getElementsByClassName('home__video-iframe');

    if (iframes) {
      for (let i = 0; i < iframes.length; i++) {
        let iframe = iframes[i];
        let video_url = iframe.getAttribute('video_url');
        if (video_url) {
          iframe.src = getYoutubeUrl(video_url);
        }
      }
    }

    function getYoutubeUrl(url) {
      const youtubeRegex = /(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))([\w-]{11})(?:\S+)?/;
      const match = url.match(youtubeRegex);
      if (match && match[1]) {
        return `https://www.youtube.com/embed/${match[1]}`;
      }
      return null;
    }
  });
</script>
