<%= f.fields_for :properties do |participatory_cards_form| %>
  <%=
    participatory_cards_form.text_field :title,
    label: "Título da seção",
    value: @home_element.properties["title"]
  %>

  <div id="dynamic__inputs-container" class="card" items="<%= @home_element.properties["items"].to_json %>"></div>
  
  <button class="button" id="add-form-button"> 
    Adicionar Card
  </button>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('dynamic__inputs-container');
    const items = JSON.parse(container.getAttribute('items'));
    const button = document.getElementById('add-form-button');

    button.addEventListener('click', (event) => {
      event.preventDefault();
      addForm();
    });

    const addForm = () => {
      const formCount = container.childElementCount;
      const newForm = document.createElement('div');
      newForm.classList.add('dynamic-form');

      newForm.innerHTML = `
        <div class="card-divider">
          <h2 class="card-title">Card #${formCount + 1}</h2>
        </div>
        <div class="card-section">
          <label for="items_${formCount}_title">
            Título
            <input type="text" name="items[${formCount}][title]" id="items_${formCount}_title" />
          </label>
          <label for="items_${formCount}_link">
            Link
            <input type="text" name="items[${formCount}][link]" id="items_${formCount}_link" />
          </label>
          <label for="items_${formCount}_icon">Ícone
            <input type="text" name="items[${formCount}][icon]" id="items_${formCount}_icon" />
            <span class="help-text">Insira aqui o nome do ícone font awesome. Exemplo: fa-calendar, fa-edit, fa-file</span>
          </label>
        </div>
      `;

      container.appendChild(newForm);
    };

    const addExistingItems = (items) => {
      items.forEach((item, index) => {
        const newForm = document.createElement('div');
        newForm.classList.add('dynamic-form');

        newForm.innerHTML = `
          <div class="card-divider">
            <h2 class="card-title">Card #${index + 1}</h2>
            <button class="remove_dynamic_form button small alert hollow">Remover</button>
          </div>
          <div class="card-section">
            <label for="items_${index}_title">
              Título
              <input type="text" name="items[${index}][title]" id="items_${index}_title" value="${item["title"]}" />
            </label>
            <label for="items_${index}_link">
              Link
              <input type="text" name="items[${index}][link]" id="items_${index}_link" value="${item["link"]}" />
            </label>
            <label for="items_${index}_icon">Ícone
              <input type="text" name="items[${index}][icon]" id="items_${index}_icon" value="${item["icon"]}" />
              <span class="help-text">Insira aqui o nome do ícone font awesome. Exemplo: fa-calendar, fa-edit, fa-file</span>
            </label>
          </div>
        `;

        newForm.querySelector('.remove_dynamic_form').addEventListener('click', (event) => {
          event.preventDefault();
          removeForm(newForm);
        });

        container.appendChild(newForm);
      });
    };

    const removeForm = (form) => {
      form.remove();
      container.setAttribute('items', JSON.stringify(items));
      container.querySelectorAll('.card-title').forEach((title, index) => {
        title.innerHTML = `Card #${index + 1}`;
      });
    };

    if(items) {
      addExistingItems(items);
    }
    
  });
</script>