<h1>dasdsadasds</h1>
<%= decidim_form_for(@home_element, url: home_element_path, method: :patch, html: { class: "form new_home_element" }) do |f| %>
  <div class="button--double form-general-submit">
    <%= f.submit "dasdadasd", class: "button" %>
  </div>
<% end %> 